* {
  box-sizing: border-box;
  margin: 0;
  font-family: 'Nunito';
}

html {
  width: 100%;
  height: 100%;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

main {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding-inline: 1rem;

  section {
    margin: 10px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.section1 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  button {
    background-color: rgb(220, 97, 26);
    border: none;
    border-radius: 0px 15px 15px 15px;
    padding: 15px 30px;
    color: white;
  }
  button:hover {
    background-color: white;
    color: rgb(220, 97, 26);
    border: 1px solid rgb(220, 97, 26);
  }
  p {
    color: rgb(220, 97, 26);
  }
}

body {
  display: flex;
  flex-direction: column;
}

img {
  border-radius: 30px;
}

.sectionarts article {
  position: relative;
  overflow: hidden;
}

.sectionarts article .text-hover {
  position: absolute;
  color: white;
  top: 75%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.sectionarts article:hover .text-hover {
  opacity: 1;
}

.menu-options {
  display: none;
}

.img-menu:hover + .menu-options {
  display: block;
}
